@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,500&display=swap');
@import url('blogsection.css');
@import url('about.css');
@import url('contact.css');



body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: montserrat;
}

button {
    background: rgb(30, 185, 16);
    color: white;
}

span, u {
    color: red;
}


.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10rem 100vh auto;
    grid-template-areas: 
    "header header header header header"
    "hero hero hero hero hero"
    "about about about about about"
    "blog blog blog blog blog"
    "contact contact contact contact contact"
    "footer footer footer footer footer";
}

/* NAV-BAR */

header {
    background: turquoise;
    grid-area: header;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.brand {
    font-size: 3rem;
    font-style: italic;
    padding: 0;
    margin: 0 0 0 0rem;
    color: white;
}

a {
    text-decoration: none;
    color: white;
 }

nav {
    font-size: 1.9rem;
    margin: 0 0rem 0 0;
} 

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0 20px 0 0;
}

li a {
    text-decoration: none;
}

li a:hover {
    color: red;
}

/* HERO-SECTION */

#hero {
    grid-area: hero;
    background: linear-gradient(326deg, turquoise 0%, rgba(50, 162, 182, 0.8) 64%),
    url("https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80")
    center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: white;
    font-family: monospace;
}


/* FOOTER-SECTION */

footer {
    background: turquoise;
    grid-area: footer;
    text-align: center;
    padding: 2rem 
}

/* If Screen is min 700px enough */

@media(min-width: 700px) {


    #blog-container {
        background: rgb(255, 255, 255);
        grid-area: blog;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 0 0 8rem;
    }

}

/* If Screen is min 1100px  */

@media(min-width: 1100px) {

    #blog-container {
        background: rgb(255, 255, 255);
        grid-area: blog;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 0 0 8rem;
    }



}

